*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    background-image: url(https://i.pinimg.com/736x/ad/fa/ff/adfaff7eb4b88632ce97361c36305382.jpg);
    background-repeat: no-repeat;
    background-color: #33495e;
    color: #f33557;
}
.container{
   max-width: 1200px;
   margin: 0 auto;
    
}
.text-left{
    display: flex;
    justify-content: center;

}
.text-left ul{
    max-width: 60%;
}
.text-left ul li{
    list-style: none;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
    width: 370px;
}
.text-left ul li i{
    cursor: pointer;
    margin-left: 50px;
}
.area{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.area input{
    width: 300px;
    height: 30px;
    border-radius: 30px;
    margin: 0 15px;
}
.area button{
    background-color: #33495e;
    color: #f33557;
    width: 100px;
    height: 30px;
    border-radius: 30px;
    cursor: pointer;
}